<!DOCTYPE html>

<html>
	<head>
		<title>annadyantha2k20</title>
		<link rel="icon" type="image/x-icon" href="/images/titleicon2.jfif">
		<link rel="stylesheet" type="text/css" href="/stylesheet/design.css">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="navbar">
			<ul>
			<li><h1 style="color: red">NITTE</h1></li>
			<li style="padding-left: 250px"><a href="/register">Register</li>
			<li><a style="color: white" href="/gallery">Gallery</a></li>
			<li><a href="/events">Events</a>
			</li>
			<li><a href="/about">Participants</a>
			</li>
			</ul>
		</div>


		<div id="iconsfit">
			<ul >
				<li style="padding-left: 250px"><a class="btn"href="https://www.instagram.com/anaadyanta/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a class="btn"href="https://www.facebook.com/watch/anaadyantanmit/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				<li><a class="btn"href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
			</ul>
		</div>


		<div class="images">
			<div class="line1">

				<img src="/images/IMG_1758.jpg" width="800px" height="600px" id="def" class="animated fadeInLeft fast">
				<img src="/images/DJI_0013.jpg" width="800px" height="600px" id="abc" class="animated fadeInRight fast">
			</div>

			<div class="line2">
				<img src="/images/3A1A9679.jpg" width="800px" height="600px" id="def" class="animated fadeInLeft fast">
				<img src="/images/IMG_2787.jpg" width="800px" height="600px" id="abc" class="animated fadeInRight fast">
			</div>

			<div class="line3">
				<img src="/images/3A1A9550.jpg" width="800px" height="600px" id="def" class="animated fadeInLeft fast">
				<img src="/images/3A1A9457.jpg" width="800px" height="600px" id="abc" class="animated fadeInRight fast">
			</div>

			<div class="line4">
				<img src="/images/_MG_7546.jpg" width="800px" height="600px" id="def" class="animated fadeInLeft fast">
				<img src="/images/3A1A9015.jpg" width="800px" height="600px" id="abc" class="animated fadeInRight fast">
			</div>

			<div class="line5">
				<img src="/images/IMG_1291.jpg" width="800px" height="600px" id="def" class="animated fadeInLeft fast">
				<img src="/images/3A1A9429.jpg" width="800px" height="600px" id="abc" class="animated fadeInRight fast">
			</div>

			<div class="line6">
				<img src="/images/IMG_1293.jpg" width="800px" height="600px" id="def" class="animated fadeInLeft fast">
				<img src="/images/IMG_1763.jpg" width="800px" height="600px" id="abc" class="animated fadeInRight fast">
			</div>
		</div>
	</body>
</html>