<!DOCTYPE html>

<html>
	<head>
		<title>annadyantha2k20</title>
		<link rel="icon" type="image/x-icon" href="/images/titleicon2.jfif">
		<link rel="stylesheet" type="text/css" href="/stylesheet/design.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>
		<div class="navbar">
			<ul>
			<li><h1 style="color: red">NITTE</h1>></li>
			<li style="padding-left: 250px"><a href="/register">Register</li>
			<li><a href="/gallery">Gallery</a></li>
			<li><a href="/events">Events</a>
			</li>
			<li><a href="/about">Participants</a>
			</li>
			</ul>
		</div>
		<div id="iconsfit" >
			<ul >
				<li style="padding-left: 250px"><a class="btn"href="https://www.instagram.com/anaadyanta/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a class="btn"href="https://www.facebook.com/watch/anaadyantanmit/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				<li><a class="btn"href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<img class="pos"src="/images/poster.jpg" style="width: 70%">
	</body>
</html>